.card-title{
    font-weight: bold;
    font-size: medium;
    font-family: 'Poppins';
    width: 100%;
    padding: 3px;
    margin: 3px;
}

.card-button,.card-button-delete,.card-button-modify{
    display: flex;
    flex-direction: row-reverse;
    border: none;
    color: gray;
    padding: 5px;
}

.card-button{
    width: 100%;
    align-items: flex-end;
}

.card-button-delete,.card-button-delete > a {
    color: red;
}

.card-button-modify,.card-button-modify > a {
    color: blue;
}

.card-subtitle{
    color: gray;
    font-family: 'Poppins';
    font-weight: bold;
    width: 100%;
}

.card-button > a, .card-button-delete > a,.card-button-modify > a{
    font-size: small;
    font-weight: bold;
    padding: 2px;
}

.card-button > a{
    color : #282828BF
}

.panel-admin{
    background-color: none;
    color: black;
}

.image-preview{
    width: 30%;
    height: 30%;
}